*{
    box-sizing: border-box;
}

:root{
 
    --primary: #2563eb;
    --primary-light: #dbeafe;

    --success: #16a34a;
    --success-light: #dcfce7;
 
    --danger: #dc2626;
    --danger-light: #fee2e2;
 
    --bg-main: #F8FAFC;
    --bg-card: #EFF6FF;
    --bg-sidebar: #111827;

    --navbar-name: #ffffff;    
    --text-primary: #0F172A;
    --text-secondary: #64748B;

    --border: #E2E8F0;
 
    --hover: #4F46E5;
}

.homepage {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
    font-family: "inter";
    cursor: default;
    background-color: var(--bg-main);
}

.nav-menu {
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border);
}

.nav-item{
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-title,
.nav-subtitle,
.nav-link {
    color: var(--navbar-name);
}

.nav-item:hover{
    background-color: var(--hover);
}

.dashboard{
    background-color: var(--bg-main);
}

.dashboard-title{
    color: var(--text-primary);
}

.dashboard-subtitle{
    color: var(--text-secondary);
}

.dashboard-widget-card,
.dashboard-summary-card,
.dashboard-detail-card{
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    color: var(--text-primary);
}

.dashboard-summary-value,
.dashboard-widget-text,
.dashboard-detail-text{
    color: var(--text-secondary);
}

/*payment methods analysis */

.payment-chart{
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.payment-bar-item{
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.payment-bar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: var(--text-secondary);
}

.payment-bar-background{
    width:100%;
    height:14px;
    background:#e2e8f0;
    border-radius:20px;
    overflow:hidden;
}

.payment-bar-fill{
    height:100%;
    border-radius:20px;
    background:linear-gradient(
        90deg,
        #2563eb,
        #111827
    );
    transition:width .5s ease;
}

/*spending over time  */ 

.monthly-chart{
    height: 220px;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-end;
}

.monthly-bar-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60px;

}

.monthly-bar{
    width:35px;
    background:#2563eb;
    border-radius:10px 10px 0 0;
    transition:0.4s;
}

.monthly-bar:hover{
    background:#1d4ed8;
    transform:scaleY(1.05);
}

.monthly-name{
    margin-top:12px;
    font-weight:600;
}

.monthly-value{
    font-size:12px;
    color:#64748B;
}

/* spending breakdown */

.category-breakdown{
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.category-item{
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.category-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: var(--text-secondary);
}

.category-bar-background{
    width:100%;
    height:14px;
    background:#e5e7eb;
    border-radius:20px;
    overflow:hidden;
}

.category-bar-fill{
    height:100%;    
    background:linear-gradient(
        90deg,
        #2563eb,
        #111827
    );
    border-radius:20px;
    transition:width .5s ease;
}

@media  screen and (max-width:640px) {
    .nav-menu {
        width: 18vw;
        padding: 1rem;
        padding-top: 2.5rem;
        background-color: var(--bg-sidebar);
        border-right: 1px solid var(--border);
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        display: none;
    }

    .nav-links-list {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
    }

    .nav-item {
        height: 2rem;
        width: 2rem;
        padding-top: 2px;
        display: flex;
        align-items: center;
        text-align: center;
        list-style: none;
        border-radius: 20px;
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        width: 100%;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
    }

    .nav-link {
        display: none;
        text-decoration: none;
    }

    /*home page design*/

    .dashboard {
        width: 82vw;
        padding: 1rem;
        display: grid;
        grid-template-rows: 0.75fr 1fr 1fr 2fr;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .dashboard-hero {
        padding-top: 1.4rem;
    }

    .dashboard-title {
        font-size: 25px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 13px;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding: 0.5rem;
    }

    .dashboard-summary-title {
        font-size: 15px;
    }

    .dashboard-summary-value {
        font-size: 12px;
        padding-top: 0.25rem;
    }

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding: 0.5rem;
    }

    .dashboard-widget-chart {
        display: none;
    }

    .dashboard-widget-title {
        font-size: 14px;
    }

    .dashboard-widget-card-text-container {
        padding-top: 0.5rem;
    }

    .dashboard-widget-text {
        font-size: 11px;
        padding-bottom: 2px;
    }

    /*detail section*/
    
    .dashboard-details {
        display: grid;
        grid-template-rows:  1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-detail-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
    }

    .dashboard-detail-title {
        font-size: 15px;
    }

    .dashboard-detail-text {
        font-size: 12px;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    .nav-menu {
        width: 20vw;
        padding: 1rem;
        padding-top: 2.5rem;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 1.75rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 8px;
        text-align: center;
    }

    .nav-links-list {
        min-width: 6.5rem;
        max-width: 8rem;
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        text-decoration: none;
    }

    /*home page */

    .dashboard {
        width: 80vw;
        padding: 1rem;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-hero {
        padding-top: 0.85rem;
        margin-bottom: 0.85rem;
    }

    .dashboard-title {
        font-size: 30px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 15px;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding: 0.5rem;
    }

    .dashboard-summary-title {
        font-size: 16px;
    }

    .dashboard-summary-value {
        font-size: 13px;
        padding-top: 1rem;
    }

    /*dashboard widgets*/

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.25fr 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding: 0.5rem;
    }

   .monthly-chart {
        margin-top: 1.5rem;
    }

    .monthly-value {
        margin-bottom: 0.5rem;
    }

    .dashboard-widget-card-text-container {
        padding-top: 0.5rem;
    }

    .dashboard-widget-title {
        font-size: 15px;
    }

    .dashboard-widget-text {
        font-size: 12px;
        padding-bottom: 10px;
    }

    /*dashboard details*/
   
    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .dashboard-detail-card {
        padding: 0.5rem;
    }

    .payment-chart,
    .category-breakdown {
        margin-top: 1rem;
    }

    .dashboard-detail-title {
        font-size: 15px;
    }

    .dashboard-detail-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-menu {
        width: 15vw;
        padding: 1rem;
        padding-top: 2.5rem;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 2rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        width: 8rem;
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        text-decoration: none;
    }

    /*home section*/

    .dashboard {
        width: 85vw;
        display: grid;
        grid-template-rows: 0.75fr 0.85fr 2fr 2fr 0.1fr;
        gap: 0.5rem;
        padding: 1rem;
    }

    .dashboard-hero {
        padding-top: 1.8rem;
        margin-bottom: 0.4rem;
    }

    .dashboard-title {
        font-size: 35px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 18px;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding: 0.5rem;
    }

    .dashboard-summary-title {
        font-size: 22px;
    }

    .dashboard-summary-value {
        font-size: 16px;
        padding-top: 1rem;
    }

    /*widgets section*/

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding: 0.5rem;
    }

    .monthly-chart {
        margin-top: 3rem;
    }

    .monthly-value {
        margin-bottom: 0.5rem;
    }
    
    .dashboard-widget-card-text-container {
        padding-top: 0.5rem;
    }

    .dashboard-widget-title {
        font-size: 18px;
    }

    .dashboard-widget-text {
        font-size: 15px;
        padding: 1px;
        padding-bottom: 10px;
    }

    /*detail section*/

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .dashboard-detail-card {
        padding: 0.5rem;
    }

    .category-breakdown,
    .payment-chart {
        margin-top: 0.5rem;
    }

    .dashboard-detail-title {
        font-size: 18px;
    }

    .dashboard-detail-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 22px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.35rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 12px;
        text-decoration: none;
    }

    /*home section*/

    .dashboard {
        width: 83vw;
        padding: 1rem;
        display: grid;
        grid-template-rows: 0.9fr 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .dashboard-hero {
        padding-top: 2rem;
        margin-bottom: 15px;
    }

    .dashboard-title {
        font-size: 40px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 20px;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding: 0.5rem;
    }

    .dashboard-summary-title {
        font-size: 22px;
    }

    .dashboard-summary-value{
        font-size: 20px;
        padding-top: 1rem;
    }

    /*widgets section*/

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding: 0.5rem;
    }

    .dashboard-widget-title {
        font-size: 22px;
    }

    .dashboard-widget-text {
        font-size: 17px;
        padding: 2px;
        padding-bottom: 10px;
    }

    .monthly-chart {
        margin-top: 2rem;
    }

    .monthly-value {
        margin-bottom: 0.5rem;
    }

    .dashboard-widget-card-text-container {
        padding-top: 0.75rem;
    }

    /*details section*/

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .dashboard-detail-card {
        padding: 0.5rem;
    }

    .category-breakdown,
    .payment-chart {
        margin-top: 0.5rem;
    }

    .dashboard-detail-title {
        font-size: 22px;
    }

    .dashboard-detail-text {
        font-size: 17px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3.25rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 29px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }

    .nav-links-list { 
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        text-decoration: none;
    }

    /*home section*/

    .dashboard {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        width: 83vw;
        padding: 1rem;
        overflow-y: auto;
    }

    .dashboard-hero {
        margin-top: 1.75rem;
        margin-bottom: 2rem;
    }

    .dashboard-title {
        font-size: 40px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 15px;
        margin-top: 0.1rem;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding: 1rem;
    }

    .dashboard-summary-title {
        font-size: 25px;
    }

    .dashboard-summary-value {
        font-size: 20px;
        padding-top: 0.75rem;
    }

    /*widgets section*/

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding: 0.5rem;
    }

    .monthly-chart {
        margin-top: 0.5rem;
    }

    .monthly-value {
        margin-bottom: 0.5rem;
    }

    .dashboard-widget-card-text-container {
        padding-top: 0.5rem;
    }

    .dashboard-widget-title {
        font-size: 25px;
    }

    .dashboard-widget-text {
        font-size: 20px;
        padding: 2px;
        padding-bottom: 10px;
    }

    /*details section*/

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .dashboard-detail-card {
        padding: 0.5rem;
    }

    .category-breakdown,
    .payment-chart {
        margin-top: 0.5rem;
    }

    .dashboard-detail-title {
        font-size: 25px;
    }

    .dashboard-detail-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 1537px) {
    .nav-menu {
        width: 20vw;
        padding: 2rem;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .nav-logo {
        width: 6rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 50px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .nav-links-list { 
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        height: 4rem;
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px white;
        cursor: pointer;
    }

    .link-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 3rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        font-size: 20px;
        text-decoration: none;

    }

    .dashboard {
        display: grid;
        grid-template-rows: 0.75fr 0.75fr 2fr 2fr;
        gap: 1rem;
        width: 80vw;
        padding: 1.5rem;
        overflow-y: auto;
    }

    .dashboard-hero {
        margin-top: 3rem;
        margin-bottom: 2.75rem;
    }

    .dashboard-title {
        font-size: 55px;
        font-family: "poppins";
    }

    .dashboard-subtitle {
        font-size: 25px;
        margin-top: 0.1rem;
    }

    /*summary section*/

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .dashboard-summary-card {
        padding: 1rem;
    }

    .dashboard-summary-title {
        font-size: 35px;
    }

    .dashboard-summary-value {
        font-size: 28px;
        padding-top: 2rem;
    }

    /*widgets section*/

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 1rem;
    }

    .dashboard-widget-card {
        padding: 1rem;
    }
    
    .monthly-chart {
        height: 24rem;
        font-size: 22px;
        margin-top: 1rem;
    }

    .monthly-value {
        margin-bottom: 1.5rem;
        font-size: 22px;
    }

    .dashboard-widget-card-text-container {
        padding-top: 1rem;
    }

    .dashboard-widget-title {
        font-size: 35px;
    }

    .dashboard-widget-text {
        font-size: 28px;
        padding: 3px;
        padding-bottom: 15px;
    }

    /*details section*/

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .dashboard-detail-card {
        padding: 1rem;
    }

    .dashboard-detail-title {
        font-size: 35px;
    }

    .dashboard-detail-text {
        font-size: 28px;
        padding-top: 1rem;
    }

    .category-bar-background,
    .payment-bar-background {
        height: 22px;
    }

    .monthly-bar {
        width: 50px;
    }
}


