*{
    box-sizing: border-box;
}

.homepage {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
    font-family: "inter";
    cursor: default;
}

@media  screen and (max-width:640px) {
    .nav-menu {
        width: 15vw;
        padding: 1rem;
        padding-top: 2.5rem;
        border-right: solid 2px #ccc;
        background-color: slategray;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        display: none;
    }

    .nav-links-list {
        padding-left: 0;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-item {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style: none;
        border-radius: 10rem;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
    }

    .nav-link {
        display: none;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 85vw;
        padding: 1.25rem;
        padding-top: 0;
        background-color: blue;
    }

    .dashboard-hero {
        height: 6rem;
        width: 100%;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
    }

    .dashboard-title {
        font-size: 25px;
        font-family: "poppins";
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 13px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: 8.5rem 8.5rem;
        height: 12.5rem;
        margin-right: 1rem;
        margin-bottom: 0.3rem;
        gap: 0.5rem;
    }

    .dashboard-summary-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 15px;
    }

    .dashboard-summary-value {
        font-size: 12px;
    }
    
    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 8.5rem 8.5rem;
        height: 16rem;
        margin-right: 1rem;
        margin-bottom: 0.3rem;
        gap: 0.5rem;
    }

    .dashboard-widget-card {
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    }

    .dashboard-widget-chart {
        display: none;
    }

    .dashboard-widget-title {
        font-size: 15px;
    }

    .dashboard-widget-text {
        font-size: 12px;
    }

    /* 3rd line  */
    
    .dashboard-details {
        height: 15rem;
        display: grid;
        grid-template-columns:  17.5rem;
        margin-right: 1rem;
    }

    .dashboard-detail-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-spending {
        display: none;
    }

    .dashboard-detail-title {
        font-size: 15px;
    }

    .dashboard-detail-text {
        font-size: 12px;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    .nav-menu {
        width: 20vw;
        padding: 1rem;
        padding-top: 2.5rem;
        border-right: solid 2px #ccc;
        background-color: slateblue;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 1.75rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 8px;
        text-align: center;
    }

    .nav-links-list {
        min-width: 6.5rem;
        max-width: 8rem;
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 80vw;
        padding: 1.25rem;
        padding-top: 0;
        background-color: blue;
    }

    .dashboard-hero {
        height: 6rem;
        width: 100%;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
    }

    .dashboard-title {
        font-size: 25px;
        font-family: "poppins";
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 13px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.3rem;
        height: 6rem;
        margin-right: 1rem;
        margin-bottom: 0.3rem;
    }

    .dashboard-summary-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 15px;
    }

    .dashboard-summary-value {
        font-size: 12px;
    }
    
    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.3rem;
        height: 22rem;
        margin-right: 1rem;
        margin-bottom: 0.3rem;
    }

    .dashboard-widget-card { 
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    }

    .dashboard-widget-title {
        font-size: 15px;
    }

    .dashboard-widget-text {
        font-size: 12px;
    }

    /* 3rd line  */
    
    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3rem;
        height: 21rem;
        margin-right: 1rem;
    }

    .dashboard-detail-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-title {
        font-size: 15px;
    }

    .dashboard-detail-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-menu {
        width: 15vw;
        padding: 1rem;
        padding-top: 2.5rem;
        border-right: solid 2px #ccc;
        background-color: salmon;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 2rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        width: 8rem;
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 85vw;
        padding: 1.25rem;
        padding-top: 0;
        background-color: blue;
    }

    .dashboard-hero {
        height: 6rem;
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 0.25rem;
    }

    .dashboard-title {
        font-size: 30px;
        font-family: "poppins";
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 16px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.4rem;
        height: 6rem;
        margin-right: 1rem;
        margin-bottom: 0.4rem;
    }

    .dashboard-summary-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 18px;
    }

    .dashboard-summary-value {
        font-size: 15px;
    }

    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.4rem;
        height: 21rem;
        margin-right: 1rem;
        margin-bottom: 0.4rem;
    }

    .dashboard-widget-card { 
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    } 

    .dashboard-widget-title {
        font-size: 18px;
    }

    .dashboard-widget-text {
        font-size: 13px;
    }

    /* 3rd line  */

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.4rem;
        height: 20rem;
        margin-right: 1rem;
    }

    .dashboard-detail-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-title {
        font-size: 18px;
    }

    .dashboard-detail-text {
        font-size: 13px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
        background-color: cyan;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 22px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.35rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 83vw;
        padding: 1.25rem;
        background-color: blue;
    }

    .dashboard-hero {
        height: 5rem;
        width: 65rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .dashboard-title {
        font-size: 40px;
        font-family: "poppins";
        margin-top: 0;
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 20px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        height: 7rem;
        margin-top: 0;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .dashboard-summary-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 22px;
    }

    .dashboard-summary-value{
        font-size: 20px;
    }

    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.5rem;
        height: 20rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .dashboard-widget-card { 
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    }

    .dashboard-widget-title {
        font-size: 18px;
    }

    .dashboard-widget-text {
        font-size: 12px;
    }

    /* 3rd line  */

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        height: 20rem; 
        margin-right: 1rem;
    }

    .dashboard-detail-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-title {
        font-size: 18px;
    }

    .dashboard-detail-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
        background-color: yellow;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3.25rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 29px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }

    .nav-links-list { 
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 83vw;
        padding: 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    .dashboard-hero {
        height: 5rem;
        width: 65rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .dashboard-title {
        font-size: 40px;
        font-family: "poppins";
        margin-top: 0;
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 15px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.4rem;
        height: 7rem; 
        margin-top: 0; 
        margin-bottom: 0.4rem;
    }

    .dashboard-summary-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 25px;
    }

    .dashboard-summary-value {
        font-size: 18px;
    }

    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 0.4rem;
        height: 20rem;
        margin-bottom: 0.4rem;
    }

    .dashboard-widget-card { 
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    } 

    .dashboard-widget-title {
        font-size: 25px;
    }

    .dashboard-widget-text {
        font-size: 18px;
    }

    /* 3rd line  */

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.4rem;
        height: 20rem;
    }

    .dashboard-detail-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-title {
        font-size: 25px;
    }

    .dashboard-detail-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 1537px) {
    .nav-menu {
        width: 20vw;
        padding: 2rem;
        background-color: pink;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .nav-logo {
        width: 6rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 50px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .nav-links-list { 
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        height: 4rem;
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 3rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        font-size: 20px;
        color: black;
        text-decoration: none;

    }

    /* main content styles */

    .dashboard {
        display: flex;
        flex-direction: column;
        width: 80vw;
        padding: 1.25rem;
        background-color: blue;
        overflow-y: hidden;
    }

    .dashboard-hero {
        height: 9.5rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
        padding-top: 2rem;
    }

    .dashboard-title {
        font-size: 55px;
        font-family: "poppins";
        margin-top: 0;
        margin-bottom: 0;
    }

    .dashboard-subtitle {
        font-size: 25px;
        margin-top: 0.1rem;
    }

    /* 1st line  */

    .dashboard-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        height: 13.5rem; 
        margin-top: 0; 
        margin-bottom: 1rem;
    }

    .dashboard-summary-card { 
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-summary-title {
        font-size: 35px;
    }

    .dashboard-summary-value {
        font-size: 20px;
    }

    /* 2nd line  */

    .dashboard-widgets {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        gap: 1rem;
        height: 32rem;
        margin-bottom: 1rem;
    }

    .dashboard-widget-card { 
        padding-left: 0.66rem;
        padding-right: 0.66rem;
        border: solid 1px black;
    } 

    .dashboard-widget-title {
        font-size: 35px;
    }

    .dashboard-widget-text {
        font-size: 20px;
    }

    /* 3rd line  */

    .dashboard-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        height: 32rem;
    }

    .dashboard-detail-card {
        padding-left: 0.65rem;
        padding-right: 0.65rem;
        border: solid 1px black;
    }

    .dashboard-detail-title {
        font-size: 35px;
    }

    .dashboard-detail-text {
        font-size: 20px;
    }
}