*{
    box-sizing: border-box;
}

:root{
 
    --primary: #2563eb;
    --primary-light: #dbeafe;

    --success: #16a34a;
    --success-light: #dcfce7;
 
    --danger: #dc2626;
    --danger-light: #fee2e2;
 
    --bg-main: #F8FAFC;
    --bg-card: #EFF6FF;
    --bg-sidebar: #111827;

    --navbar-name: #ffffff;    
    --text-primary: #0F172A;
    --text-secondary: #64748B;

    --border: #E2E8F0;
 
    --hover: #4F46E5;
}

body {
    margin: 0;
    padding: 0;
}

.transactions {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex; 
    font-family: "inter";
    cursor: default;
    background-color: var(--bg-main);
}

.transactions-header-action {
    text-decoration: none;
    color: inherit;
}

.nav-item{
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav-title,
.nav-link,
.nav-subtitle {
    color: var(--navbar-name);
}

.nav-item:hover,
.transactions-header-action:hover,
.transaction-card-btn:hover {
    background-color: var(--hover);
}

.transactions-header,
.summary-card,
.search-box,
.filter-options {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.transaction-card {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.transactions-header-action,
.transaction-card-btn {
    background-color: var(--bg-sidebar);
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.transactions-title{
    color: #0f172a;
}

.transactions-subtitle,
.transactions-description,
.transaction-card-meta,
.filter-options-input,
.transaction-card-type {
    color: var(--text-secondary);
}

.transactions-heading,
.transaction-card-title,
.summary-card-title{
    color: #0f172a;
}

.summary-card-value,
.transaction-card-amount{
    color: #1e293b;
}

.filter-options-input {
    height: 100%;
    width: 100%;
}

.delete-icon {
    height: 20px;
}

@media  screen and (max-width:640px) {
    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 0.9fr 1fr 1fr 0.5fr 5.5fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 100%;
        padding-bottom: 1.4rem;
    }

    .transactions-title {
        font-size: 25px;
        font-family: "poppins";
        margin-bottom: 0;
        margin-top: 1.9rem;
    }

    .transactions-subtitle {
        font-size: 13px;
        margin-top: 0;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 1.15fr 1fr;
        gap: 0.25rem;
        align-items: center;
        padding: 0.5rem;
    }

    .transactions-heading {
        font-size: 15px;
    }

    .transactions-description {
        font-size: 9px;
    }

    .transactions-header-action {
        height: 1.75rem;
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        align-items: center;
        gap: 0.15rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
    }

    .transactions-add-icon {
        height: 0.75rem;
    }

    .transactions-add-btn {
        font-size: 9px;
        text-align: center;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 0.75rem;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 0.5rem;
    }

    .summary-card-title {
        font-size: 14px;
    }

    .summary-card-value {
        font-size: 12px;
        padding-top: 0.5rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto ;
        gap: 0.5rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 1rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 12px;
        padding-left: 0.5rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
    }

    .filter-options {
        display: none ;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
    }

    .transaction-card-image {
        height: 1.25rem;
        padding: 0 0.25rem 0 0.25rem;
    }

    .transaction-card-info {
        width: 9rem;
        margin-right: 0;
        flex: 1;
    }

    .transaction-card-title{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .transaction-card-meta {
        font-size: 9px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        display: none;
        font-size: 12px; 
        width: 3rem;
        margin-right: 0;
    }

    .transaction-card-amount {
        font-size: 15px;
        width: fit-content; 
        margin-right: 0.3rem;
    }

    .transaction-card-btn {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0.5rem;
    }

    .delete-icon {
        height: 1rem;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.65fr 9fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        padding-top: 2px;
        padding-bottom: 14px;
    } 

    .transactions-title {
        font-size: 30px;
        font-family: "poppins";
        margin-top: 1.15rem;
    }

    .transactions-subtitle {
        font-size: 15px;
    }

    /* header section */

    .transactions-header {
        display: grid;
        align-items: center;
        grid-template-columns: 2.35fr 1fr;
        padding: 0.5rem;
    }

    .transactions-heading {
        font-size: 17px;
    }

    .transactions-description {
        font-size: 12px;
    }

    .transactions-header-action {
        height: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.5rem;
    }

    .transactions-add-icon {
        height: 1.25rem;
    }

    .transactions-add-btn {
        font-size: 11px;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .summary-card {
        padding: 0.5rem;
    }

    .summary-card-title {
        font-size: 13px;
    }

    .summary-card-value {
        font-size: 12px;
        padding-top: 0.25rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        padding-left: 0.5rem;
        font-size: 12px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .filter-options-input {
        padding-left: 0.5rem;
        border: none;
        border-radius: 10px;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: grid;
        grid-template-columns: 0.75fr 6fr 1fr 1fr 1fr;
        gap: 0.5rem;
        padding: 0 0.75rem 0 0.75rem;
        align-items: center;
    }

    .transaction-card-image {
        height: 1.5rem;
    }

    .transaction-card-title{
        font-size: 15px;
    }

    .transaction-card-meta {
        font-size: 12px;
        margin-top: 0.2rem;
    }

    .transaction-card-type {
        width: 4rem;
        font-size: 15px;
    }

    .transaction-card-amount {
        width: 5rem; 
        font-size: 20px;
    }

    .transaction-card-btn {
        height: 2rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* main content styles */

    .transactions-content {
        width: 85vw;
        display: grid;
        grid-template-rows: 1.9fr 1fr 1fr 0.75fr 10fr;
        gap: 0.5rem;
        padding: 1rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        padding-top: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .transactions-title {
        font-size: 35px;
        font-family: "poppins";
    }

    .transactions-subtitle {
        font-size: 18px;;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 3fr 1.15fr;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .transactions-heading {
        font-size: 22px;;
    }

    .transactions-description {
        font-size: 16px;
    }

    .transactions-header-action {
        height: 2.25rem;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: 0.2rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
    }

    .transactions-add-icon {
        height: 1.25rem;
    }

    .transactions-add-btn {
        font-size: 14px;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .summary-card {
        padding: 0.5rem;
    }

    .summary-card-title {
        font-size: 18px;
    }

    .summary-card-value {
        font-size: 16px;
        padding-top: 0.5rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0.5rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 13px;
        padding-left: 0.5rem;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .filter-options-input {
        padding-left: 0.5rem;
        border: none;
        border-radius: 10px;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: grid;
        grid-template-columns: 0.75fr 6.25fr 1fr 1fr 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .transaction-card-image {
        height: 1.5rem;
        margin-left: 1rem;
    }

    .transaction-card-title{
        font-size: 18px;
    }

    .transaction-card-meta {
        font-size: 15px;
    }

    .transaction-card-type {
        font-size: 16px; 
        width: 4.5rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 5rem; 
    }

    .transaction-card-btn {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1fr 1.5fr 1.5fr 0.75fr 6.5fr;
        gap: 0.5rem;
        width: 83vw;
        padding: 1.25rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 30rem;
        padding-top: 1.75rem;
        padding-bottom: 1rem;
    }

    .transactions-title {
        font-size: 40px;
        font-family: "poppins";
    }

    .transactions-subtitle {
        font-size: 20px;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 3.1fr 1fr;
        align-items: center;
        padding: 1rem;
    }

    .transactions-heading {
        font-size: 24px;
    }

    .transactions-description {
        font-size: 18px;
        padding-top: 0.25rem;
    }

    .transactions-header-action {
        height: 2.25rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
    }

    .transactions-add-icon {
        height: 1.25rem;
    }

    .transactions-add-btn {
        font-size: 16px;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .summary-card {
        padding: 1rem;
    }

    .summary-card-title {
        font-size: 21px;
    }

    .summary-card-value {
        font-size: 19px;
        padding-top: 0.75rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
        gap: 0.5rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 18px;
        padding-left: 1rem;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .filter-options-input {
        height: 100%;
        width: 100%;
        font-size: 18px;
        padding-left: 1rem;
        border: none;
        border-radius: 10px;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 5rem;
        gap: 1rem;
        overflow-y: auto;
    }

    .transaction-card {
        padding: 1rem;
        display: grid;
        grid-template-columns: 0.5fr 6.5fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }

    .transaction-card-image {
        height: 1.5rem;
        padding-left: 0.5rem;
    }

    .transaction-card-title{
        font-size: 21px;
    }

    .transaction-card-meta {
        font-size: 17px;
        padding-top: 0.25rem;
    }

    .transaction-card-type {
        font-size: 18px; 
        width: 5rem;
    }

    .transaction-card-amount {
        font-size: 21px;
        width: 5rem;
    }

    .transaction-card-btn {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1.5fr 1.5fr 1fr 1fr 6.5fr;
        gap: 0.5rem;
        width: 83vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        margin-bottom: 1.85rem;
    }

    .transactions-title {
        font-size: 40px;
        font-family: "poppins";
        padding-top: 2.2rem;
    }

    .transactions-subtitle {
        font-size: px;
        margin-top: 0.1rem;
    }

    /* header section */

    .transactions-header {
        padding: 1rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
    }

    .transactions-heading {
        font-size: 25px;
    }

    .transactions-description {
        font-size: 18px;
        padding-top: 5px;
    }

    .transactions-header-action {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 10px;
    }

    .transactions-add-icon {
        height: 1.5rem;
    }

    .transactions-add-btn {
        font-size: 18px;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 1.5rem;
    }

    /* summary section */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 1rem;
    }

    .summary-card-title {
        font-size: 25px;
    }

    .summary-card-value {
        font-size: 18px;
        padding-top: 0.5rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        gap: 0.5rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: 1.5rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 18px;
        padding-left: 1rem;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .filter-options-input {
        font-size: 18px;
        padding-left: 1rem;
        border: none;
        border-radius: 10px;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }

    .transaction-card-image {
        height: 2rem;
        padding-left: 2.5rem;
    }

    .transaction-card-info {
        width: 30rem;
    }

    .transaction-card-title{
        font-size: 20px;
    }

    .transaction-card-meta {
        font-size: 17px;
    }

    .transaction-card-type {
        font-size: 20px; 
        width: 6rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 6rem;
    }

    .transaction-card-btn {
        height: 3rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .delete-icon {
        height: 2rem;
    }
}

@media screen and (min-width: 1537px) {
   /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 1fr 8fr;
        gap: 1rem;
        width: 83vw;
        padding: 1rem;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        padding-top: 3.5rem;
        margin-bottom: 3rem;
    }

    .transactions-title {
        font-size: 55px;
        font-family: "poppins";
    }

    .transactions-subtitle {
        font-size: 25px;
    }

    /* header section */

    .transactions-header {
        padding: 1rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
    }

    .transactions-heading {
        font-size: 35px;
    }

    .transactions-description {
        font-size: 20px;
        padding-top: 0.5rem;
    }

    .transactions-header-action {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        border-radius: 10px;
    }

    .transactions-add-icon {
        height: 1.5rem;
    }

    .transactions-add-btn {
        font-size: 20px;
        font-weight: bold;
    }

    .transactions-arrow-icon {
        height: 1.5rem;
    }

    /* summary section */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem; 
    }

    .summary-card {
        padding: 1rem;
    }

    .summary-card-title {
        font-size: 35px;
    }

    .summary-card-value {
        font-size: 30px;
        padding-top: 1rem;
    }

    /* search & filter section */

    .transactions-controls {
        min-height: 4.5rem;
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        gap: 1rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
    }

    .search-icon {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        height: 2.5rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        font-size: 20px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .filter-options-input {
        font-size: 20px;
        padding-left: 1rem;
        border: none;
        border-radius: 10px;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 6rem;
        gap: 1rem;
        overflow-y: auto;
    }

    .transaction-card {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
        align-items: center;
    }

    .transaction-card-image {
        height: 3rem;
        padding-left: 3rem;
    }

    .transaction-card-title{
        font-size: 30px;
    }

    .transaction-card-meta {
        font-size: 22px;
        padding-top: 0.5rem;
    }

    .transaction-card-type {
        font-size: 24px; 
        width: 7rem;
    }

    .transaction-card-amount {
        font-size: 30px;
        width: 7rem;
    }

    .transaction-card-btn {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .delete-icon {
        height: 2.5rem;
    }
}

