*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.transactions {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex; 
    font-family: "inter";
    cursor: default;
}

.transactions-header-action {
    text-decoration: none;
    color: inherit;
}

@media  screen and (max-width:640px) {
    .nav-menu {
        width: 15vw;
        padding: 1rem;
        padding-top: 2.5rem;
        border-right: solid 2px #ccc;
        background-color: slategray;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        display: none;
    }

    .nav-links-list {
        padding-left: 0;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-item {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style: none;
        border-radius: 10rem;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
    }

    .nav-link {
        display: none;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 0.9fr 0.5fr 1fr 0.5fr 5.5fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 100%;
        padding-bottom: 1.4rem;
    }

    .transactions-title {
        font-size: 25px;
        font-family: "poppins";
        margin-bottom: 0;
        margin-top: 1.9rem;
    }

    .transactions-subtitle {
        font-size: 13px;
        margin-top: 0;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
    }

    .transactions-header-text {
        margin-right: 0.25rem;
    }

    .transactions-heading {
        font-size: 15px;
        margin-top: 0.1rem;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 12px;
        margin-top: 0.25rem;
        padding-top: 0;
    }

    .transactions-header-action {
        height: 1.75rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 0.75rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 10px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 0.75rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 0 1rem 0 1rem;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        height: 2.2rem;
        margin-top: 0.5rem;
        font-size: 15px;
    }

    .summary-card-value {
        font-size: 12px;
        margin-bottom: 0.3rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto ;
        gap: 0.5rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 1rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 12px;
    }

    .filter-options {
        display: none ;
        border: solid 2px salmon;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 1.25rem;
        padding: 0 0.25rem 0 0.25rem;
    }

    .transaction-card-info {
        width: 9rem;
        margin-right: 0;
        flex: 1;
    }

    .transaction-card-title{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .transaction-card-meta {
        font-size: 10px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        display: none;
        font-size: 12px; 
        width: 3rem;
        margin-right: 0;
    }

    .transaction-card-amount {
        font-size: 16px;
        width: 4rem; 
        margin-right: 0; 
    }

    .transaction-card-btn {
        height: 2rem;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0.5rem;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    .nav-menu {
        width: 20vw;
        padding: 1rem;
        padding-top: 1.5rem;
        border-right: solid 2px #ccc;
        background-color: slateblue;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 1.75rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 8px;
        text-align: center;
    }

    .nav-links-list {
        min-width: 6.5rem;
        max-width: 8rem;
        padding-left: 0;
        margin-top: 2.1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.25rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1fr 0.5fr 1fr 0.25fr 9fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 30rem;
        padding-bottom: 1.3rem;
    }

    .transactions-title {
        font-size: 25px;
        font-family: "poppins";
        margin-bottom: 0;
        margin-top: 1.3rem;
    }

    .transactions-subtitle {
        font-size: 13px;
        margin-top: 0;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 2.35fr 1fr; 
    }

    .transactions-heading {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 12px;
        margin-top: 0.5rem;
        padding-top: 0;
    }

    .transactions-header-action {
        height: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 1.25rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 12px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 0 1rem 0 1rem;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .summary-card-value {
        font-size: 15px;
        padding-bottom: 0.6rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 12px;
    }

    .filter-options {
        border: solid 2px salmon;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 1.5rem;
        padding: 0 1rem 0 1rem;
    }

    .transaction-card-info {
        width: auto;
        margin-right: 0;
        flex: 1;
    }

    .transaction-card-title{
        font-size: 15px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-meta {
        font-size: 12px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        font-size: 15px; 
        width: 5rem;
        margin-right: 1rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 5rem; 
        margin-right: 1rem;
    }

    .transaction-card-btn {
        height: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-menu {
        width: 15vw;
        padding: 1rem;
        padding-top: 2.5rem;
        border-right: solid 2px #ccc;
        background-color: salmon;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 2rem;
    }

    .nav-brand-name {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 3rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        width: 6.85rem;
        padding-left: 0;
        margin-top: 2.2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none; 
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 11px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 0.75fr 0.5fr 0.75fr 0.25fr 6.5fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 30rem;
        padding-bottom: 0.5rem;
    }

    .transactions-title {
        font-size: 30px;
        font-family: "poppins";
        margin-bottom: 0;
        margin-top: 2.2rem;
    }

    .transactions-subtitle {
        font-size: 16px;
        margin-top: 0;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 3.1fr 1fr;
    }

    .transactions-heading {
        font-size: 18px;
        margin-top: 0.3rem;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 15px;
        margin-top: 0.5rem;
        padding-top: 0;
    }

    .transactions-header-action {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 1.25rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 15px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 0 1rem 0 1rem;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        height: 1.5rem;
        font-size: 17px;
        margin-top: 0.5rem;
    }

    .summary-card-value {
        margin-top: 1.5rem;
        margin-bottom: 1.6rem;
        font-size: 20px;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 13px;
    }

    .filter-options {
        border: solid 2px salmon;
        padding-bottom: 1rem;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 1.5rem;
        padding: 0 1rem 0 1rem;
    }

    .transaction-card-info {
        width: auto;
        margin-right: 0;
        flex: 1;
    }

    .transaction-card-title{
        font-size: 18px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-meta {
        font-size: 13px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        font-size: 15px; 
        width: 5rem;
        margin-right: 1rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 5rem; 
        margin-right: 1rem;
    }

    .transaction-card-btn {
        height: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0.75rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
        background-color: cyan;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-size: 22px;
        font-family: "poppins";
    }

    .nav-subtitle {
        margin: 0;
        font-size: 10px;
        text-align: center;
    }

    .nav-links-list {
        padding-left: 0;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem; 
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.35rem;
        padding-right: 0.25rem;
    }

    .nav-link {
        font-size: 12px;
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.5fr 6.5fr;
        gap: 0.5rem;
        width: 83vw;
        padding: 1.25rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 30rem;
        padding-top: 1.75rem;
    }

    .transactions-title {
        font-size: 40px;
        font-family: "poppins";
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .transactions-subtitle {
        font-size: 20px;
        margin-top: 0;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 3.1fr 1fr;
        align-items: flex-start;
        padding-top: 0.55rem;
        padding-bottom: 0.9rem;
    }

    .transactions-heading {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 20px;
        margin-top: 0.5rem;
        padding-top: 0;
    }

    .transactions-header-action {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 1.25rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 16px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 1.25rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary card */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .summary-card {
        padding: 0 1rem 0 1rem;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        height: 2.5rem;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }

    .summary-card-value {
        font-size: 22px;
        padding-bottom: 0.25rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        height: 1.25rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 18px;
    }

    .filter-options {
        border: solid 2px salmon;
        padding-bottom: 2rem;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 1.5rem;
        padding: 0 1rem 0 1rem;
    }

    .transaction-card-info {
        width: auto;
        margin-right: 0;
        flex: 1;
    }

    .transaction-card-title{
        font-size: 20px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-meta {
        font-size: 16px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        font-size: 15px; 
        width: 5rem;
        margin-right: 1rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 5rem; 
        margin-right: 1rem;
    }

    .transaction-card-btn {
        height: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0.75rem;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
    .nav-menu {
        width: 17vw;
        padding: 2rem;
        background-color: yellow;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 3.25rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 29px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }

    .nav-links-list { 
        padding-left: 0;
        margin-top: 3.3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 1.5rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        color: black;
        text-decoration: none;
    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 1.5fr 1fr 1fr 0.5fr 6.5fr;
        gap: 0.5rem;
        width: 83vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 65rem;
        margin-bottom: 1.3rem;
    }

    .transactions-title {
        font-size: 40px;
        font-family: "poppins";
        margin-bottom: 0;
        padding-top: 2.25rem;
        padding-bottom: 0;
    }

    .transactions-subtitle {
        font-size: 15px;
        margin-top: 0.1rem;
        padding-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: flex-start;
        padding-bottom: 0.4rem;
    }

    .transactions-heading {
        font-size: 25px;
        margin-top: 1.2rem;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 18px;
        margin-top: 0.5rem;
        padding-top: 0;
    }

    .transactions-header-action {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 1.5rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 18px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 1.5rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary section */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem; 
    }

    .summary-card {
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        margin-bottom: 0.5rem;
        font-size: 25px;
    }

    .summary-card-value {
        font-size: 18px;
        padding-bottom: 0.2rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: 1.5rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
    }

    .filter-options {
        height: 3rem;
        border: solid 2px salmon;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 3.5rem;
        gap: 0.5rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 1.5rem;
        padding: 0 1rem 0 1rem;
    }

    .transaction-card-info {
        width: 30rem;
        margin-right: 15rem;
    }

    .transaction-card-title{
        font-size: 18px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-meta {
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        font-size: 15px; 
        width: 5rem;
        margin-right: 1rem;
    }

    .transaction-card-amount {
        font-size: 20px;
        width: 5rem; 
        margin-right: 1rem;
    }

    .transaction-card-btn {
        height: 2rem;
        margin-right: 0.5rem;
        padding: 0 0.4rem 0 0.4rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1537px) {
    .nav-menu {
        width: 20vw;
        padding: 2rem;
        background-color: pink;
        border-right: solid 3px #ccc;
    }

    .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .nav-logo {
        width: 6rem;
    }

    .nav-brand-name {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        padding-left: 0.25rem;
    }

    .nav-title {
        margin: 0;
        text-align: center;
        font-family: "poppins";
        font-size: 50px;
    }

    .nav-subtitle {
        margin: 0;
        text-align: center;
        font-size: 20px;
    }

    .nav-links-list { 
        margin-top: 4.1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .nav-item {
        height: 4rem;
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        list-style: none;
        border: solid 1px black;
        cursor: pointer;
    }

    .link-container {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-icon {
        height: 3rem;
        padding-right: 0.5rem;
    }

    .nav-link {
        font-size: 20px;
        color: black;
        text-decoration: none;

    }

    /* main content styles */

    .transactions-content {
        display: grid;
        grid-template-rows: 2fr 1.5fr 2fr 1fr 10fr;
        gap: 1rem;
        width: 83vw;
        padding: 0.6rem 1.25rem 1.25rem 1.25rem;
        background-color: blue;
        overflow-y: auto;
    }

    /* hero section */
    
    .transactions-hero {
        width: 65rem;
        padding-top: 0.85rem;
        padding-bottom: 1.2rem;
    }

    .transactions-title {
        font-size: 55px;
        font-family: "poppins";
        margin-bottom: 0;
        margin-top: 3rem;
    }

    .transactions-subtitle {
        font-size: 25px;
        margin-top: 0;
    }

    /* header section */

    .transactions-header {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: flex-start;
        padding-top: 1.4rem;
        padding-bottom: 3rem;
    }

    .transactions-heading {
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .transactions-description {
        font-size: 20px;
        margin-top: 0;
        padding-top: 0;
    }

    .transactions-header-action {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.3rem;
        border: salmon solid 2px;
    }

    .transactions-add-icon {
        height: 1.5rem;
        margin: 0.1rem;
    }

    .transactions-add-btn {
        font-size: 21px;
        font-weight: bold;
        margin: 0.1rem 0 0.1rem 0.1rem;
    }

    .transactions-arrow-icon {
        height: 1.5rem;
        margin: 0.1rem 0.1rem 0.1rem 0;
    }

    /* summary section */

    .transactions-summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem; 
    }

    .summary-card {
        padding: 0 1rem 0 1rem;
        border-radius: 0.3rem;
        border: solid 2px salmon;
    }

    .summary-card-title {
        height: 6rem;
        padding-top: 1.5rem;
        margin-bottom: 0;
        font-size: 30px;
    }

    .summary-card-value {
        font-size: 40px;
        padding-bottom: 2rem;
    }

    /* search & filter section */

    .transactions-controls {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem; 
    }

    .search-box {
        display: flex;
        justify-content: center;;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 2px salmon;
    }

    .search-icon {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: 2.5rem;
    }

    .search-box-input {
        height: 100%;
        width: 100%;
        font-size: 22px;
    }

    .filter-options {
        height: 6rem;
        border: solid 2px salmon;
    }

    /*Transaction list */

    .transactions-list{
        display: grid;
        grid-auto-rows: 6rem;
        gap: 1rem;
        overflow-y: auto;
    }

    .transaction-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: red solid 1px;
        border-radius: 5px;
    }

    .transaction-card-image {
        height: 2.5rem;
        padding: 0 1rem 0 1rem;
    }

    .transaction-card-info {
        width: clamp(40rem, 48vw, 80rem);
    }

    .transaction-card-title{
        font-size: 30px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-meta {
        font-size: 22px;
        padding: 0;
        margin: 0.2rem 0 0 0;
    }

    .transaction-card-type {
        font-size: 22px; 
        width: 5rem;
        margin-right: 2.5rem;
    }

    .transaction-card-amount {
        font-size: 30px;
        width: 5rem; 
        margin-right: 4rem;
    }

    .transaction-card-btn {
        height: 3.25rem;
        width: 8rem;
        margin-right: 2rem;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

