*{
    box-sizing: border-box;
}

:root{
 
    --primary: #2563eb;
    --primary-light: #dbeafe;

    --success: #16a34a;
    --success-light: #dcfce7;
 
    --danger: #dc2626;
    --danger-light: #fee2e2;
 
    --bg-main: #F8FAFC;
    --bg-card: #EFF6FF;
    --bg-sidebar: #111827;

    --navbar-name: #ffffff;    
    --text-primary: #0F172A;
    --text-secondary: #64748B;

    --border: #E2E8F0;
 
    --hover: #4F46E5;
}

.add-transactions {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex; 
    font-family: "inter";
    cursor: default;
    background-color: var(--bg-main);
}

.add-transaction-hero,
.add-transaction-header {
    border-bottom: solid var(--border) 2px;
}

.nav-title,
.nav-link,
.nav-subtitle,
.add-transaction-btn-primary,
.add-transaction-btn-secondary {
    color: var(--navbar-name);
}

.add-transaction-form-input,
.add-transaction-form-select {
    color: var(--text-secondary);
    border: 1px solid var(--border);
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.nav-item:hover,
.add-transaction-btn:hover {
    background-color: var(--hover);
}

.add-transaction-btn {
    background-color: var(--bg-sidebar);
}


@media  screen and (max-width:640px) {
    /* main content styles */

    .add-transactions-content {
        display: grid;
        grid-template-rows: 0.75fr 0.9fr 8fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 1rem;
        overflow-y: auto;
    }

    /*hero section*/

    .add-transaction-hero {
        padding-top: 1.5rem;
    }

    .add-transaction-hero-title {
        font-size: 25px;
        font-family: "poppins";
    }

    /*header section*/

    .add-transaction-header {
        padding-top: 1.5rem;
    }

    .add-transaction-header-title {
        font-size: 15px;
    }

    /*form section*/

    .add-transaction-form {
        padding-top: 1rem;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 0.5rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .add-transaction-form-label {
        display: flex;
        align-items: center;
        font-size: 13px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        min-width: 8rem;
        border-radius: 10px;
        padding-left: 0.75rem;
        font-size: 15px;
    }

    .add-transaction-form-actions {
        margin-top: 1rem;
        text-align: right;
    }

    .add-transaction-btn {
        height: 2rem;
        width: 5.25rem;
        margin: 0.25rem;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    /* main content styles */

    .add-transactions-content {
        display: grid;
        grid-template-rows: 0.75fr 0.75fr 10fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 1rem;
        overflow-y: auto;
    }

    /*hero section*/

    .add-transaction-hero {
        padding-top: 0.85rem;
    }

    .add-transaction-hero-title {
        font-size: 30px;
        font-family: "poppins";
    }

    /*header section*/

    .add-transaction-header {
        align-items: flex-end;
        padding-top: 1.55rem;
    }

    .add-transaction-header-title {
        font-size: 15px;
    }

    /*form section*/

    .add-transaction-form {
        min-height: 17rem;
        display: grid;
        grid-template-rows: repeat(1fr);
        gap: 0.5rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .add-transaction-form-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
        font-size: 15px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 15px;
    }

    .add-transaction-form-actions {
        text-align: right;
    }

    .add-transaction-btn {
        height: 2rem;
        width: 5.25rem;
        margin: 0.25rem;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*hero section*/

    .add-transactions-content {
        display: grid;
        grid-template-rows: 0.75fr 0.75fr 10fr;
        gap: 0.5rem;
        width: 85vw;
        padding: 1rem;
        overflow-y: auto;
    }

    .add-transaction-hero {
        padding-top: 1.8rem;
    }

    .add-transaction-hero-title {
        font-size: 35px;
        font-family: "poppins"; 
    }

    /*header section*/

    .add-transaction-header {
        padding-top: 1.5rem;
    }

    .add-transaction-header-title {
        font-size: 18px;
    }

    /*form section*/

    .add-transaction-form {
        height: 20rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .add-transaction-form-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        min-width: 15rem;
        padding-left: 0.5rem;
        border-radius: 10px;
        font-size: 18px;
    }

    .add-transaction-form-actions {
        width: 54vw;
        margin-top: 1rem;
        text-align: right;
    }

    .add-transaction-btn {
        height: 2rem;
        width: 5.25rem;
        margin: 0.25rem;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* main content styles */

    .add-transactions-content {
        width: 85vw;
        display: grid;
        grid-template-rows: 0.75fr 0.75fr 10fr;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;
    }

    /*hero section*/

    .add-transaction-hero {
        padding-top: 2rem;
    }

    .add-transaction-hero-title {
        font-size: 40px;
        font-family: "poppins";
    }

    /*header section*/

    .add-transaction-header {
        padding-top: 1.6rem;
    }

    .add-transaction-header-title {
        font-size: 20px;
    }

    /*form section*/

    .add-transaction-form {
        display: grid;
        grid-template-rows: 0.65fr 0.65fr 0.65fr 0.65fr 0.65fr 0.65fr 0.65fr;
        gap: 1rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .add-transaction-form-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 20px;
    }

    .add-transaction-form-actions {
        width: 53.2vw;
        margin-top: 1rem; 
        text-align: right;
    }

    .add-transaction-btn {
        height: 2.5rem;
        width: 7rem;
        margin: 0.25rem;
        font-size: 18px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
    /* main content styles */

    .add-transactions-content {
        width: 83vw;
        display: grid;
        grid-template-rows: 1fr 1fr 10fr;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;
    }

    /*hero section*/

    .add-transaction-hero {
        padding-top: 1.75rem;
    }

    .add-transaction-hero-title {
        font-size: 40px;
        font-family: "poppins";
    }

    /*header section*/

    .add-transaction-header {
        padding-top: 2.3rem;
    }

    .add-transaction-header-title {
        font-size: 25px;
    }

    /*form section*/

    .add-transaction-form {
        display: grid;
        grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
        gap: 1rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 2.25fr 2fr 3fr;
        gap: 1rem;
    }

    .add-transaction-form-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 20px;
    }

    .add-transaction-form-actions {
        width: 47.3vw;
        margin-top: 1rem;
        text-align: right;
    }

    .add-transaction-btn {
        height: 2.5rem;
        width: 7rem;
        margin: 0.25rem;
        font-size: 15px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1537px) {
    /* main content styles */

    .add-transactions-content {
        display: grid;
        grid-template-rows: 1fr 1fr 10fr;
        gap: 2rem;
        width: 83vw;
        padding: 1rem;
        overflow-y: auto;
    }

    /*hero section*/

    .add-transaction-hero {
        padding-top: 3.5rem;
    }

    .add-transaction-hero-title {
        font-size: 55px;
        font-family: "poppins";
    }

    /*header section*/

    .add-transaction-header {
        padding-top: 3.2rem;
    }

    .add-transaction-header-title {
        font-size: 40px;
    }

    /*form section*/

    .add-transaction-form {
        min-height: 48rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
        gap: 2rem;
    }

    .add-transaction-form-group {
        display: grid;
        grid-template-columns: 2.25fr 2fr 3fr;
        gap: 2rem;
    }

    .add-transaction-form-label {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 30px;
    }

    .add-transaction-form-select,
    .add-transaction-form-input {
        min-width: 25rem;
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 30px;
    }

    .add-transaction-form-actions {
        width: 46.45vw;
        margin-top: 1rem;
        text-align: right;
    }

    .add-transaction-btn {
        height: 4rem;
        width: 11rem;
        margin: 0.25rem;
        font-size: 30px;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
}
